<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>create a database and a table</title>
</head>
<body>
    <h2>input the name of database and table</h2>
    <form action="/create_" method="post">
        <table>
            <tr>
                <td>输入数据库名称:  </td>
                <td> <input type="text" name="n_db" /></td>
            </tr>
            <tr>
                <td>输入表名称:  </td>
                <td> <input type="text" name="n_tb" /></td>
            </tr>
            <tr>
                <td>保存数据库  </td>
                <td> <input type="submit" value="save the database" /></td>
            </tr>
        </table>
    </form>

</body>
</html>