<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>insert data into a database</title>
</head>
<body>
    <h2>Insert</h2>
    <form method="post" action="/insert_">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" name="h_name" /></td>
            </tr>
            <tr>
                <td>email:</td>
                <td><input type="email" name="h_email" /></td>
            </tr>
            <tr>
                <td>cell:</td>
                <td><input type="text" name="h_cell" /></td>
            </tr>
            <tr>
                <td>designation:</td>
                <td><input type="text" name="h_designation" /></td>
            </tr>
            <tr>
                <td>web:</td>
                <td><input type="text" name="h_web" /></td>
            </tr>
            <tr><td><input type="submit" value="insert into db" /></td></tr>
        </table>
    </form>
</body>
</html>