<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>select</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>姓名</th>
                <th>Email</th>
                <th>手机</th>
                <th>职位</th>
                <th>网站</th>
            </tr>
        </thead>

        {% for row in h_rows %}
        <tr>
            <td>{{row['id']}}</td>
            <td>{{row['name']}}</td>
            <td>{{row['email']}}</td>
            <td>{{row['cell']}}</td>
            <td>{{row['designation']}}</td>
            <td>{{row['web']}}</td>
        </tr>
        {% endfor %}
    </table><br /><br />
    <a href="/index">index</a>
</body>
</html>